body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF0000;
    color: white;
    padding: 10 20 10 20;
    display: flex;
    justify-content: space-between;
}

/*LOGO*/
header div.logo {
    display: flex;
    flex-direction: row;
}

header div.logo h1 {
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

header div.logo img {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

/*BUSCADOR*/
.buscador {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.buscador input {
    padding: 5px;
    font-size: 1.1rem;
    width: 300px;
    border: 1px solid #CCC;
    border-radius: 2px;
    outline: none;
}

.buscador button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 2px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.buscador button img {
    width: 20px;
    height: 20px;
    display: block;
}

.buscador button:hover {
    background-color: #F1F1F1;
    border-color: #BBB;
}

/*CONTENIDO PRINCIPAL*/
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

/* MENU DE NAVEGACION IZQ */
nav {
    background-color: #F1F1F1;
    padding: 20px;
    max-width: 20%; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center; 
    padding: 10px;
    cursor: pointer;
}

nav ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
/*CONTENIDO AUDIO/VIDEO*/
section {
    padding: 20px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

div.audioCard,
div.videoCard {

    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DDD;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

}

div.audioCard h2,
div.videoCard h2 {
    text-align: center;
    margin-top: 20px;
    color: #444;

}

div.videoCard video,
div.audioCard audio {
    display: block;
    width: 100%;
    max-width: 500px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

div.videoCard iframe {
    width: 560px;
    height: 315px;
}

/*PIE DE PAGINA*/
footer {
    background-color: #FF0000;
    color: white;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

footer a:hover {
    text-decoration: underline;
}