body{
    font-family: Arial,sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    fill: 0;
    min-height: 100vh;

}
main{
    display: flex;
    justify-content: center;
    flex: 1;
}

/*HEADER*/
header{
background-color: #333;
color: white;
text-align: center;
padding: 5px;
}
h1{
    margin: 0;
    font-size: 2rem;
}

ul{
list-style:none;
fill: 0;
display: flex;
gap: 0 15px;
justify-content: center;

}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    
}
/*FOOTER*/
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0;
}
/*MAPAS*/
div.contenedorMapas{
text-align: center;
display: flex;
flex-direction: column;
max-width: 1200px;
gap: 40px;
fill: 20px;
}
div.mapCard{
color: white;
border-radius: 15px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
fill: 20px;
text-align: center;
display: flex;
flex-direction: column;
padding: 10px;
}
div.mapCard{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    align-items: center;
}
#nuevaYork{
    font-family: Roboto, sans-serif;
}
#losAngeles{
    font-family: montserrat, sans-serif;
}
#londres{
    font-family: Oswald, sans-serif;
}
iframe{
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
p.descripcion{
    font-size: 1.1rem;
    color: #555;
    text-wrap:wrap;
    margin: 20px;
}

img{
    max-width: 200px;

}
.tittleCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}