body{
display: flex;
min-height: 100vh;
margin: 0;
box-sizing: border-box;
flex-direction: column;
}
header{
    align-items: center;
    text-align: center;
    padding: 1rem;
}
header img{
    max-width: 300px;
    max-height: 110px;
}
main{
    padding: 2rem;
    flex: 1;
}

fieldset{
    background-color: #F4F1ED;
    color: firebrick;
    border-color: darkgoldenrod;
    border-radius: 7px;
    max-width: 400px;
    margin-left: auto;

}
fieldset div{
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
fieldset legend{
    color: darkblue;
    font-weight: bold;
}
fieldset form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

fieldset label{
    width: 200px;
}
fieldset input[type=text],input[type=email], input[type=number], input[type=date], input[type=time]{
    width: 200px;
}
fieldset div:nth-last-child(2){
    gap:10px;
    display: flex;
    flex-direction: column;
}
.botonesFormulario{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}
footer h3{
    color: #F7C600;
}
footer a{
    color: white;
    text-decoration: none;
}
footer img{
    height: 48px;
    width: 48px;
}
