
body{
    font-family: Arial,sans-serif;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main{
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex: 1;
}

header{
background-color: #4CAF50;
color: white;
text-align: center;

}
.cabeceraImagen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
header img{
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

footer{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    gap: 1rem 0;
}

h1{
    text-align: center;
}

.contenedorTarjetas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.tarjeta{
    border: 2px;
    border-color: #CCC;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    align-items: center;
    background-color: #F9F9F9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.tarjeta img{
    max-width: 75%;
    border-radius: 10px;
}

.tarjeta h2{
    color: #333;
}

.tarjeta p.descripcionProducto{
color: #777;
}
.tarjeta p.precio{
    font-size: 1.25rem;
    color: #e74c3c;
}

.tarjeta:hover{
    scale: 1.05;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition-duration: 200ms;
}
