
body{
    font-family: Arial,sans-serif;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
}
main{
    padding: 0 2rem 2rem 2rem;
}

header{
background-color: #4CAF50;
color: white;
text-align: center;

}
.cabeceraImagen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
header img{
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

main{
}

